<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/11/c8/21/11c8212b-6e79-39be-99f0-9f52abed6362/mzl.nxuwqcmi.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple20/v4/c2/d6/0d/c2d60df2-93f9-8f2f-0288-916aec30ec43/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>567</string>
		<key>startIndex</key>
		<string>6881</string>
		<key>endIndex</key>
		<string>6874</string>
		<key>app</key>
		<string>BitCam</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1114990619</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple18/v4/59/1c/a8/591ca862-9cff-fddf-49ca-cc064fb83b1d/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>562</string>
		<key>startIndex</key>
		<string>6814</string>
		<key>endIndex</key>
		<string>6801</string>
		<key>app</key>
		<string>Gboard — Search. GIFs. Emojis &amp; more. Right from your keyboard.</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1091700242</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple20/v4/8f/be/b2/8fbeb29a-34d5-ad1e-c915-f47638f0f4e8/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>560</string>
		<key>startIndex</key>
		<string>6780</string>
		<key>endIndex</key>
		<string>6763</string>
		<key>app</key>
		<string>Opera VPN: Free unlimited ad blocking VPN</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1080756781</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/1d/bf/70/1dbf700e-e8c0-dad8-2a97-f1eece4d8e54/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>540</string>
		<key>startIndex</key>
		<string>6386</string>
		<key>endIndex</key>
		<string>6375</string>
		<key>app</key>
		<string>Neat Notes App</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1022754638</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple1/v4/60/3a/e0/603ae06f-8cd0-f988-2c30-5342e2c4085a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>554</string>
		<key>startIndex</key>
		<string>6713</string>
		<key>endIndex</key>
		<string>6693</string>
		<key>app</key>
		<string>Oh She Glows - Healthy Plant-Based Recipes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1079607960</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple7/v4/e6/92/b2/e692b2c8-4199-b5cf-41db-314a351b4634/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>522</string>
		<key>startIndex</key>
		<string>5824</string>
		<key>endIndex</key>
		<string>5815</string>
		<key>app</key>
		<string>Pigment - The only true coloring book experience for adults</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1062006344</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple7/v4/e7/89/9b/e7899b2c-40e2-1a24-4fe7-12a4ac0f8d60/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>524</string>
		<key>startIndex</key>
		<string>5882</string>
		<key>endIndex</key>
		<string>5868</string>
		<key>app</key>
		<string>Parabo Press: Photo Prints, Books, Cards &amp; Display</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id738433203</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple7/v4/e1/68/af/e168af8f-1972-fb34-5ad4-04d018eea1f6/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>368</string>
		<key>startIndex</key>
		<string>4029</string>
		<key>endIndex</key>
		<string>3998</string>
		<key>app</key>
		<string>Handle: To-Dos + Email + Calendar</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id766063605</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/e6/52/dd/e652dda9-68eb-5859-c917-4701ccc79df5/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>485</string>
		<key>startIndex</key>
		<string>5182</string>
		<key>endIndex</key>
		<string>5169</string>
		<key>app</key>
		<string>Moleskine Timepage – Calendar for iCloud, Google &amp; Exchange</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id989178902</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple7/v4/1e/ba/8f/1eba8f15-1ecd-6ad7-7f31-856959f61696/mzl.wqtzfxss.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>323</string>
		<key>startIndex</key>
		<string>3101</string>
		<key>endIndex</key>
		<string>3089</string>
		<key>app</key>
		<string>Wire™</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id930944768</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>16</string>
		<key>startIndex</key>
		<string>3054</string>
		<key>endIndex</key>
		<string>3046</string>
		<key>app</key>
		<string>Jamie&apos;s Recipes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id398011800</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple3/v4/a8/cb/9e/a8cb9efd-2f3a-9170-6e29-746281d42207/mzl.hgnlnnah.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>284</string>
		<key>startIndex</key>
		<string>3012</string>
		<key>endIndex</key>
		<string>3008</string>
		<key>app</key>
		<string>Path Talk - The New Messenger</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id867760913</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple1/v4/9f/d4/aa/9fd4aa62-731f-607f-b1ad-a1fc3d66bb44/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>279</string>
		<key>startIndex</key>
		<string>2569</string>
		<key>endIndex</key>
		<string>2561</string>
		<key>app</key>
		<string>Gogobot</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id459590827</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/22/7f/56/227f56de-f1b7-c137-3c3d-d4503881824e/pr_source.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>264</string>
		<key>startIndex</key>
		<string>2401</string>
		<key>endIndex</key>
		<string>2396</string>
		<key>app</key>
		<string>Checkmark 2</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id825863849</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/b1/bc/8a/b1bc8a94-57a5-54a2-b8df-05c3ff7848f5/mzl.amnyystw.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>251</string>
		<key>startIndex</key>
		<string>2174</string>
		<key>endIndex</key>
		<string>2165</string>
		<key>app</key>
		<string>Peek Calendar</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple5/v4/0c/43/70/0c43701b-9359-8a1e-22db-b96ba8b15e36/mzl.veafblbg.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>249</string>
		<key>startIndex</key>
		<string>2161</string>
		<key>endIndex</key>
		<string>2156</string>
		<key>app</key>
		<string>YPlan - New York and London</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id577193492</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple3/v4/8c/ae/22/8cae2289-679f-443f-04f6-54c740da7001/mzl.gtmmzeal.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>172</string>
		<key>startIndex</key>
		<string>1546</string>
		<key>endIndex</key>
		<string>1539</string>
		<key>app</key>
		<string>Fantastical 2</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple5/v4/d2/43/e5/d243e5d9-7334-dc1f-ff8f-c2366d64c9b0/mzl.fsddcbuv.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>242</string>
		<key>startIndex</key>
		<string>2040</string>
		<key>endIndex</key>
		<string>2036</string>
		<key>app</key>
		<string>har•mo•ny</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple7/v4/f3/31/db/f331db5c-781c-d317-57fc-0c4222c0fe08/mzl.vshdamxv.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>104</string>
		<key>startIndex</key>
		<string>1974</string>
		<key>endIndex</key>
		<string>1965</string>
		<key>app</key>
		<string>Showyou</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id422698201</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple1/v4/93/02/ac/9302ac9e-7aeb-c3e6-fe10-8c2bcb611015/mzl.smxnzwhj.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>95</string>
		<key>startIndex</key>
		<string>6896</string>
		<key>endIndex</key>
		<string>6882</string>
		<key>app</key>
		<string>Pinterest</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id429047995</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple20/v4/88/1b/15/881b1563-14f2-8baf-afd7-b3bcf4dc9687/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>559</string>
		<key>startIndex</key>
		<string>6762</string>
		<key>endIndex</key>
		<string>6747</string>
		<key>app</key>
		<string>Trello</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id461504587</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple3/v4/57/3f/dd/573fdd7f-e86f-7639-8490-ea32a528f023/mzl.zrsqpoug.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>111</string>
		<key>startIndex</key>
		<string>6629</string>
		<key>endIndex</key>
		<string>6615</string>
		<key>app</key>
		<string>Flipboard: Your Social News Magazine</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id358801284</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple69/v4/14/aa/49/14aa49ba-0c42-c7f4-ce2a-3945c4bfe5eb/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>552</string>
		<key>startIndex</key>
		<string>6614</string>
		<key>endIndex</key>
		<string>6595</string>
		<key>app</key>
		<string>F8</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id853467066</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple49/v4/78/77/46/78774630-23c0-6fec-c909-34ddec819c2d/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>538</string>
		<key>startIndex</key>
		<string>6354</string>
		<key>endIndex</key>
		<string>6334</string>
		<key>app</key>
		<string>PayPal</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id283646709</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/c7/de/7d/c7de7d03-f4fb-53a1-56b9-fcfecf82c0f3/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>527</string>
		<key>startIndex</key>
		<string>5941</string>
		<key>endIndex</key>
		<string>5927</string>
		<key>app</key>
		<string>Peach — a space for friends</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1067891186</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/90/02/29/900229e4-9dd9-87d6-1cc1-39566e87dc7e/mzl.xjplkeju.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>267</string>
		<key>startIndex</key>
		<string>5908</string>
		<key>endIndex</key>
		<string>5893</string>
		<key>app</key>
		<string>Medium — Everyone&apos;s Stories</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id828256236</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/17/80/20/17802049-f950-75c2-fa89-3f13781a6eef/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>519</string>
		<key>startIndex</key>
		<string>5781</string>
		<key>endIndex</key>
		<string>5758</string>
		<key>app</key>
		<string>IF by IFTTT</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id660944635</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple1/v4/10/92/1b/10921b94-af00-d7f8-f3fd-c2de48766879/mzl.znccqqvb.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>448</string>
		<key>startIndex</key>
		<string>5721</string>
		<key>endIndex</key>
		<string>5701</string>
		<key>app</key>
		<string>Yelp</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id284910350</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/8d/1b/27/8d1b2725-cef3-dad1-0472-7866b46cf940/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>515</string>
		<key>startIndex</key>
		<string>5700</string>
		<key>endIndex</key>
		<string>5674</string>
		<key>app</key>
		<string>Spot — the best places according to experts and friends</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1054510328</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/78/83/b7/7883b774-9764-b485-9897-4f631aa40682/mzl.dexxokvz.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>57</string>
		<key>startIndex</key>
		<string>5673</string>
		<key>endIndex</key>
		<string>5655</string>
		<key>app</key>
		<string>Foursquare - Find Restaurants, Bars &amp; Deals</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id306934924</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/e8/f3/4e/e8f34eb0-fede-8c56-4bf0-9314f556f18a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>513</string>
		<key>startIndex</key>
		<string>5630</string>
		<key>endIndex</key>
		<string>5609</string>
		<key>app</key>
		<string>ChefsFeed</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id466211510</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple5/v4/47/2b/36/472b3644-5588-5c6e-c794-f8838814c163/mzl.orzwjqjz.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>366</string>
		<key>startIndex</key>
		<string>5543</string>
		<key>endIndex</key>
		<string>5507</string>
		<key>app</key>
		<string>Shyp - Shipping on Demand: Pickup, Packaging and Delivery Tracking</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id834440304</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple6/v4/12/b8/5f/12b85f0c-541e-703e-17db-b1900758f713/mzl.ofgxwjii.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>502</string>
		<key>startIndex</key>
		<string>5426</string>
		<key>endIndex</key>
		<string>5415</string>
		<key>app</key>
		<string>Tweetbot 4 for Twitter</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1018355599</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple60/v4/c6/f5/2e/c6f52e3e-b1fa-14dc-fe21-8156c81be353/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>571</string>
		<key>startIndex</key>
		<string>7016</string>
		<key>endIndex</key>
		<string>7006</string>
		<key>app</key>
		<string>NYT VR – Virtual Reality Stories from the NYTimes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1028562337</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple18/v4/95/77/86/95778626-3f5e-d98b-0c56-a3b9eb32fc11/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>570</string>
		<key>startIndex</key>
		<string>6997</string>
		<key>endIndex</key>
		<string>6989</string>
		<key>app</key>
		<string>The Infatuation: Restaurant Reviews for New York, Los Angeles, San Francisco &amp; Chicago</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id465685575</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple20/v4/ec/1a/05/ec1a05c4-8464-c2ee-603c-020f7be68be1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>569</string>
		<key>startIndex</key>
		<string>6988</string>
		<key>endIndex</key>
		<string>6959</string>
		<key>app</key>
		<string>VSCO</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id588013838</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple30/v4/d9/3a/b0/d93ab04e-7417-e4f1-c794-be8c987ec1ff/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>568</string>
		<key>startIndex</key>
		<string>6934</string>
		<key>endIndex</key>
		<string>6914</string>
		<key>app</key>
		<string>Health Tracking by Gyroscope</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1104085053</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple5/v4/fd/7a/b4/fd7ab42a-2156-bda3-e940-82abc22a7d1e/mzl.jkogibrq.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>119</string>
		<key>startIndex</key>
		<string>6912</string>
		<key>endIndex</key>
		<string>6897</string>
		<key>app</key>
		<string>TaskRabbit</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id374165361</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple18/v4/59/e1/47/59e14702-c382-0295-9f8f-7567d7f017d4/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>566</string>
		<key>startIndex</key>
		<string>6873</string>
		<key>endIndex</key>
		<string>6844</string>
		<key>app</key>
		<string>Lola Travel</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1103890283</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple3/v4/4f/5f/39/4f5f398f-5d93-9d1c-7422-74a780af19c1/pr_source.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>501</string>
		<key>startIndex</key>
		<string>6843</string>
		<key>endIndex</key>
		<string>6829</string>
		<key>app</key>
		<string>The List App - Create and Share Lists About Anything and Everything</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1037098661</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple18/v4/8c/78/50/8c7850f0-3a82-69b0-55c1-6d11ac37dbfe/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>564</string>
		<key>startIndex</key>
		<string>6825</string>
		<key>endIndex</key>
		<string>6816</string>
		<key>app</key>
		<string>CHANEL FASHION</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id409934435</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple60/v4/e7/dd/85/e7dd85f0-23dc-0509-970c-dbaae8a649d2/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>561</string>
		<key>startIndex</key>
		<string>6800</string>
		<key>endIndex</key>
		<string>6781</string>
		<key>app</key>
		<string>HISTORY Vault</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1076619087</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple20/v4/7e/5e/b3/7e5eb3f1-2024-75a2-f61c-98948f5c828a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>558</string>
		<key>startIndex</key>
		<string>6745</string>
		<key>endIndex</key>
		<string>6738</string>
		<key>app</key>
		<string>Spaces - Small group sharing by Google</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1025159334</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple49/v4/56/6a/28/566a28c7-dbaa-f2c8-6a88-114fc812388b/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>557</string>
		<key>startIndex</key>
		<string>6737</string>
		<key>endIndex</key>
		<string>6730</string>
		<key>app</key>
		<string>Dinosaurs: The American Museum of Natural History Collections</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id351849237</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/3e/9e/7a/3e9e7a7c-49cb-4dec-3043-0130eef3f0e5/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>556</string>
		<key>startIndex</key>
		<string>6729</string>
		<key>endIndex</key>
		<string>6717</string>
		<key>app</key>
		<string>The New Yorker Magazine</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id370614765</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple5/v4/b3/d9/7b/b3d97bc4-3d3d-f533-1339-9a32f6acd662/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>512</string>
		<key>startIndex</key>
		<string>6716</string>
		<key>endIndex</key>
		<string>6667</string>
		<key>app</key>
		<string>Operator</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1035987466</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/82/aa/ce/82aace48-ffd8-022c-eda6-2139cab8f8d3/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>545</string>
		<key>startIndex</key>
		<string>6666</string>
		<key>endIndex</key>
		<string>6642</string>
		<key>app</key>
		<string>Digit - Save Money Without Thinking About It</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1011935076</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/c3/38/3e/c3383e95-a894-5786-a45c-8adc3b5322cd/mzl.oayvioum.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>34</string>
		<key>startIndex</key>
		<string>6828</string>
		<key>endIndex</key>
		<string>6647</string>
		<key>app</key>
		<string>Facebook Messenger</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id454638411</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple49/v4/7a/46/9e/7a469e26-4fff-c81f-ef45-7003a4cf8ae8/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>553</string>
		<key>startIndex</key>
		<string>6646</string>
		<key>endIndex</key>
		<string>6630</string>
		<key>app</key>
		<string>Silvercar - Car Rental The Way It Should Be</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id587128247</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple69/v4/d2/a8/12/d2a81212-4347-f6eb-b74b-372a4d3cb2c1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>551</string>
		<key>startIndex</key>
		<string>6594</string>
		<key>endIndex</key>
		<string>6582</string>
		<key>app</key>
		<string>UberEATS: Food Delivery, Fast</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1058959277</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/d3/e6/9f/d3e69fe8-a23b-dc65-6e77-d52a6a885bbd/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>550</string>
		<key>startIndex</key>
		<string>6578</string>
		<key>endIndex</key>
		<string>6548</string>
		<key>app</key>
		<string>Shorts - Follow people&apos;s camera rolls</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1088453734</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple49/v4/81/e2/f2/81e2f2a4-990e-04f1-2e2f-56151a28322f/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>549</string>
		<key>startIndex</key>
		<string>6547</string>
		<key>endIndex</key>
		<string>6520</string>
		<key>app</key>
		<string>Nom Live</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id987728658</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple7/v4/d5/fe/e7/d5fee710-4594-5f32-a4ef-f877f900dcb1/mzl.xxnhhldc.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>114</string>
		<key>startIndex</key>
		<string>6519</string>
		<key>endIndex</key>
		<string>6517</string>
		<key>app</key>
		<string>Twitter</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id333903271</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple49/v4/5b/1b/67/5b1b676e-902f-21dd-a8ac-583b5f5d5612/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>548</string>
		<key>startIndex</key>
		<string>6516</string>
		<key>endIndex</key>
		<string>6507</string>
		<key>app</key>
		<string>Tech Today - CNET&apos;s Daily News</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1077008940</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple69/v4/d3/e4/9a/d3e49a53-45d5-0372-5610-fa0fc31c79f1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>547</string>
		<key>startIndex</key>
		<string>6506</string>
		<key>endIndex</key>
		<string>6459</string>
		<key>app</key>
		<string>REX - Favorite things from your favorite people.</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id965827767</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
</array>
</plist>
