<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/11/c8/21/11c8212b-6e79-39be-99f0-9f52abed6362/mzl.nxuwqcmi.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple20/v4/c2/d6/0d/c2d60df2-93f9-8f2f-0288-916aec30ec43/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>567</string>
		<key>startIndex</key>
		<string>6881</string>
		<key>endIndex</key>
		<string>6874</string>
		<key>app</key>
		<string>BitCam</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1114990619</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple18/v4/59/1c/a8/591ca862-9cff-fddf-49ca-cc064fb83b1d/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>562</string>
		<key>startIndex</key>
		<string>6814</string>
		<key>endIndex</key>
		<string>6801</string>
		<key>app</key>
		<string>Gboard — Search. GIFs. Emojis &amp; more. Right from your keyboard.</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1091700242</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple20/v4/8f/be/b2/8fbeb29a-34d5-ad1e-c915-f47638f0f4e8/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>560</string>
		<key>startIndex</key>
		<string>6780</string>
		<key>endIndex</key>
		<string>6763</string>
		<key>app</key>
		<string>Opera VPN: Free unlimited ad blocking VPN</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1080756781</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/1d/bf/70/1dbf700e-e8c0-dad8-2a97-f1eece4d8e54/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>540</string>
		<key>startIndex</key>
		<string>6386</string>
		<key>endIndex</key>
		<string>6375</string>
		<key>app</key>
		<string>Neat Notes App</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1022754638</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple1/v4/60/3a/e0/603ae06f-8cd0-f988-2c30-5342e2c4085a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>554</string>
		<key>startIndex</key>
		<string>6713</string>
		<key>endIndex</key>
		<string>6693</string>
		<key>app</key>
		<string>Oh She Glows - Healthy Plant-Based Recipes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1079607960</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple7/v4/e6/92/b2/e692b2c8-4199-b5cf-41db-314a351b4634/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>522</string>
		<key>startIndex</key>
		<string>5824</string>
		<key>endIndex</key>
		<string>5815</string>
		<key>app</key>
		<string>Pigment - The only true coloring book experience for adults</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1062006344</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple7/v4/e7/89/9b/e7899b2c-40e2-1a24-4fe7-12a4ac0f8d60/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>524</string>
		<key>startIndex</key>
		<string>5882</string>
		<key>endIndex</key>
		<string>5868</string>
		<key>app</key>
		<string>Parabo Press: Photo Prints, Books, Cards &amp; Display</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id738433203</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple7/v4/e1/68/af/e168af8f-1972-fb34-5ad4-04d018eea1f6/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>368</string>
		<key>startIndex</key>
		<string>4029</string>
		<key>endIndex</key>
		<string>3998</string>
		<key>app</key>
		<string>Handle: To-Dos + Email + Calendar</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id766063605</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/e6/52/dd/e652dda9-68eb-5859-c917-4701ccc79df5/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>485</string>
		<key>startIndex</key>
		<string>5182</string>
		<key>endIndex</key>
		<string>5169</string>
		<key>app</key>
		<string>Moleskine Timepage – Calendar for iCloud, Google &amp; Exchange</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id989178902</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple7/v4/1e/ba/8f/1eba8f15-1ecd-6ad7-7f31-856959f61696/mzl.wqtzfxss.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>323</string>
		<key>startIndex</key>
		<string>3101</string>
		<key>endIndex</key>
		<string>3089</string>
		<key>app</key>
		<string>Wire™</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id930944768</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>16</string>
		<key>startIndex</key>
		<string>3054</string>
		<key>endIndex</key>
		<string>3046</string>
		<key>app</key>
		<string>Jamie&apos;s Recipes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id398011800</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple3/v4/a8/cb/9e/a8cb9efd-2f3a-9170-6e29-746281d42207/mzl.hgnlnnah.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>284</string>
		<key>startIndex</key>
		<string>3012</string>
		<key>endIndex</key>
		<string>3008</string>
		<key>app</key>
		<string>Path Talk - The New Messenger</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id867760913</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple1/v4/9f/d4/aa/9fd4aa62-731f-607f-b1ad-a1fc3d66bb44/pr_source.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>279</string>
		<key>startIndex</key>
		<string>2569</string>
		<key>endIndex</key>
		<string>2561</string>
		<key>app</key>
		<string>Gogobot</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id459590827</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/22/7f/56/227f56de-f1b7-c137-3c3d-d4503881824e/pr_source.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>264</string>
		<key>startIndex</key>
		<string>2401</string>
		<key>endIndex</key>
		<string>2396</string>
		<key>app</key>
		<string>Checkmark 2</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id825863849</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/b1/bc/8a/b1bc8a94-57a5-54a2-b8df-05c3ff7848f5/mzl.amnyystw.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>251</string>
		<key>startIndex</key>
		<string>2174</string>
		<key>endIndex</key>
		<string>2165</string>
		<key>app</key>
		<string>Peek Calendar</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple5/v4/0c/43/70/0c43701b-9359-8a1e-22db-b96ba8b15e36/mzl.veafblbg.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>249</string>
		<key>startIndex</key>
		<string>2161</string>
		<key>endIndex</key>
		<string>2156</string>
		<key>app</key>
		<string>YPlan - New York and London</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id577193492</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple3/v4/8c/ae/22/8cae2289-679f-443f-04f6-54c740da7001/mzl.gtmmzeal.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>172</string>
		<key>startIndex</key>
		<string>1546</string>
		<key>endIndex</key>
		<string>1539</string>
		<key>app</key>
		<string>Fantastical 2</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple5/v4/d2/43/e5/d243e5d9-7334-dc1f-ff8f-c2366d64c9b0/mzl.fsddcbuv.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>242</string>
		<key>startIndex</key>
		<string>2040</string>
		<key>endIndex</key>
		<string>2036</string>
		<key>app</key>
		<string>har•mo•ny</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple7/v4/f3/31/db/f331db5c-781c-d317-57fc-0c4222c0fe08/mzl.vshdamxv.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>104</string>
		<key>startIndex</key>
		<string>1974</string>
		<key>endIndex</key>
		<string>1965</string>
		<key>app</key>
		<string>Showyou</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id422698201</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple1/v4/93/02/ac/9302ac9e-7aeb-c3e6-fe10-8c2bcb611015/mzl.smxnzwhj.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>95</string>
		<key>startIndex</key>
		<string>6896</string>
		<key>endIndex</key>
		<string>6882</string>
		<key>app</key>
		<string>Pinterest</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id429047995</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple20/v4/88/1b/15/881b1563-14f2-8baf-afd7-b3bcf4dc9687/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>559</string>
		<key>startIndex</key>
		<string>6762</string>
		<key>endIndex</key>
		<string>6747</string>
		<key>app</key>
		<string>Trello</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id461504587</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple3/v4/57/3f/dd/573fdd7f-e86f-7639-8490-ea32a528f023/mzl.zrsqpoug.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>111</string>
		<key>startIndex</key>
		<string>6629</string>
		<key>endIndex</key>
		<string>6615</string>
		<key>app</key>
		<string>Flipboard: Your Social News Magazine</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id358801284</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple69/v4/14/aa/49/14aa49ba-0c42-c7f4-ce2a-3945c4bfe5eb/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>552</string>
		<key>startIndex</key>
		<string>6614</string>
		<key>endIndex</key>
		<string>6595</string>
		<key>app</key>
		<string>F8</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id853467066</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple49/v4/78/77/46/78774630-23c0-6fec-c909-34ddec819c2d/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>538</string>
		<key>startIndex</key>
		<string>6354</string>
		<key>endIndex</key>
		<string>6334</string>
		<key>app</key>
		<string>PayPal</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id283646709</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/c7/de/7d/c7de7d03-f4fb-53a1-56b9-fcfecf82c0f3/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>527</string>
		<key>startIndex</key>
		<string>5941</string>
		<key>endIndex</key>
		<string>5927</string>
		<key>app</key>
		<string>Peach — a space for friends</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1067891186</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/pf/us/r30/Purple1/v4/90/02/29/900229e4-9dd9-87d6-1cc1-39566e87dc7e/mzl.xjplkeju.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>267</string>
		<key>startIndex</key>
		<string>5908</string>
		<key>endIndex</key>
		<string>5893</string>
		<key>app</key>
		<string>Medium — Everyone&apos;s Stories</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id828256236</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/17/80/20/17802049-f950-75c2-fa89-3f13781a6eef/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>519</string>
		<key>startIndex</key>
		<string>5781</string>
		<key>endIndex</key>
		<string>5758</string>
		<key>app</key>
		<string>IF by IFTTT</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id660944635</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple1/v4/10/92/1b/10921b94-af00-d7f8-f3fd-c2de48766879/mzl.znccqqvb.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>448</string>
		<key>startIndex</key>
		<string>5721</string>
		<key>endIndex</key>
		<string>5701</string>
		<key>app</key>
		<string>Yelp</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id284910350</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/8d/1b/27/8d1b2725-cef3-dad1-0472-7866b46cf940/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>515</string>
		<key>startIndex</key>
		<string>5700</string>
		<key>endIndex</key>
		<string>5674</string>
		<key>app</key>
		<string>Spot — the best places according to experts and friends</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1054510328</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/78/83/b7/7883b774-9764-b485-9897-4f631aa40682/mzl.dexxokvz.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>57</string>
		<key>startIndex</key>
		<string>5673</string>
		<key>endIndex</key>
		<string>5655</string>
		<key>app</key>
		<string>Foursquare - Find Restaurants, Bars &amp; Deals</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id306934924</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/e8/f3/4e/e8f34eb0-fede-8c56-4bf0-9314f556f18a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>513</string>
		<key>startIndex</key>
		<string>5630</string>
		<key>endIndex</key>
		<string>5609</string>
		<key>app</key>
		<string>ChefsFeed</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id466211510</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple5/v4/47/2b/36/472b3644-5588-5c6e-c794-f8838814c163/mzl.orzwjqjz.png</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>366</string>
		<key>startIndex</key>
		<string>5543</string>
		<key>endIndex</key>
		<string>5507</string>
		<key>app</key>
		<string>Shyp - Shipping on Demand: Pickup, Packaging and Delivery Tracking</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id834440304</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple6/v4/12/b8/5f/12b85f0c-541e-703e-17db-b1900758f713/mzl.ofgxwjii.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>activity feeds</string>
		<key>id</key>
		<string>502</string>
		<key>startIndex</key>
		<string>5426</string>
		<key>endIndex</key>
		<string>5415</string>
		<key>app</key>
		<string>Tweetbot 4 for Twitter</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1018355599</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple60/v4/c6/f5/2e/c6f52e3e-b1fa-14dc-fe21-8156c81be353/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>571</string>
		<key>startIndex</key>
		<string>7016</string>
		<key>endIndex</key>
		<string>7006</string>
		<key>app</key>
		<string>NYT VR – Virtual Reality Stories from the NYTimes</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1028562337</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple18/v4/95/77/86/95778626-3f5e-d98b-0c56-a3b9eb32fc11/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>570</string>
		<key>startIndex</key>
		<string>6997</string>
		<key>endIndex</key>
		<string>6989</string>
		<key>app</key>
		<string>The Infatuation: Restaurant Reviews for New York, Los Angeles, San Francisco &amp; Chicago</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id465685575</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple20/v4/ec/1a/05/ec1a05c4-8464-c2ee-603c-020f7be68be1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>569</string>
		<key>startIndex</key>
		<string>6988</string>
		<key>endIndex</key>
		<string>6959</string>
		<key>app</key>
		<string>VSCO</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id588013838</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple30/v4/d9/3a/b0/d93ab04e-7417-e4f1-c794-be8c987ec1ff/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>568</string>
		<key>startIndex</key>
		<string>6934</string>
		<key>endIndex</key>
		<string>6914</string>
		<key>app</key>
		<string>Health Tracking by Gyroscope</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1104085053</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/pf/us/r30/Purple5/v4/fd/7a/b4/fd7ab42a-2156-bda3-e940-82abc22a7d1e/mzl.jkogibrq.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>119</string>
		<key>startIndex</key>
		<string>6912</string>
		<key>endIndex</key>
		<string>6897</string>
		<key>app</key>
		<string>TaskRabbit</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id374165361</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple18/v4/59/e1/47/59e14702-c382-0295-9f8f-7567d7f017d4/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>566</string>
		<key>startIndex</key>
		<string>6873</string>
		<key>endIndex</key>
		<string>6844</string>
		<key>app</key>
		<string>Lola Travel</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1103890283</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple3/v4/4f/5f/39/4f5f398f-5d93-9d1c-7422-74a780af19c1/pr_source.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>501</string>
		<key>startIndex</key>
		<string>6843</string>
		<key>endIndex</key>
		<string>6829</string>
		<key>app</key>
		<string>The List App - Create and Share Lists About Anything and Everything</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1037098661</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple18/v4/8c/78/50/8c7850f0-3a82-69b0-55c1-6d11ac37dbfe/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>564</string>
		<key>startIndex</key>
		<string>6825</string>
		<key>endIndex</key>
		<string>6816</string>
		<key>app</key>
		<string>CHANEL FASHION</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id409934435</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple60/v4/e7/dd/85/e7dd85f0-23dc-0509-970c-dbaae8a649d2/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>561</string>
		<key>startIndex</key>
		<string>6800</string>
		<key>endIndex</key>
		<string>6781</string>
		<key>app</key>
		<string>HISTORY Vault</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1076619087</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple20/v4/7e/5e/b3/7e5eb3f1-2024-75a2-f61c-98948f5c828a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>558</string>
		<key>startIndex</key>
		<string>6745</string>
		<key>endIndex</key>
		<string>6738</string>
		<key>app</key>
		<string>Spaces - Small group sharing by Google</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1025159334</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple49/v4/56/6a/28/566a28c7-dbaa-f2c8-6a88-114fc812388b/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>557</string>
		<key>startIndex</key>
		<string>6737</string>
		<key>endIndex</key>
		<string>6730</string>
		<key>app</key>
		<string>Dinosaurs: The American Museum of Natural History Collections</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id351849237</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/3e/9e/7a/3e9e7a7c-49cb-4dec-3043-0130eef3f0e5/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>556</string>
		<key>startIndex</key>
		<string>6729</string>
		<key>endIndex</key>
		<string>6717</string>
		<key>app</key>
		<string>The New Yorker Magazine</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id370614765</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple5/v4/b3/d9/7b/b3d97bc4-3d3d-f533-1339-9a32f6acd662/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>512</string>
		<key>startIndex</key>
		<string>6716</string>
		<key>endIndex</key>
		<string>6667</string>
		<key>app</key>
		<string>Operator</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1035987466</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/82/aa/ce/82aace48-ffd8-022c-eda6-2139cab8f8d3/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>545</string>
		<key>startIndex</key>
		<string>6666</string>
		<key>endIndex</key>
		<string>6642</string>
		<key>app</key>
		<string>Digit - Save Money Without Thinking About It</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1011935076</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/pf/us/r30/Purple7/v4/c3/38/3e/c3383e95-a894-5786-a45c-8adc3b5322cd/mzl.oayvioum.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>34</string>
		<key>startIndex</key>
		<string>6828</string>
		<key>endIndex</key>
		<string>6647</string>
		<key>app</key>
		<string>Facebook Messenger</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id454638411</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple49/v4/7a/46/9e/7a469e26-4fff-c81f-ef45-7003a4cf8ae8/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>553</string>
		<key>startIndex</key>
		<string>6646</string>
		<key>endIndex</key>
		<string>6630</string>
		<key>app</key>
		<string>Silvercar - Car Rental The Way It Should Be</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id587128247</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple69/v4/d2/a8/12/d2a81212-4347-f6eb-b74b-372a4d3cb2c1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>551</string>
		<key>startIndex</key>
		<string>6594</string>
		<key>endIndex</key>
		<string>6582</string>
		<key>app</key>
		<string>UberEATS: Food Delivery, Fast</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1058959277</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/d3/e6/9f/d3e69fe8-a23b-dc65-6e77-d52a6a885bbd/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>550</string>
		<key>startIndex</key>
		<string>6578</string>
		<key>endIndex</key>
		<string>6548</string>
		<key>app</key>
		<string>Shorts - Follow people&apos;s camera rolls</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1088453734</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple49/v4/81/e2/f2/81e2f2a4-990e-04f1-2e2f-56151a28322f/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>549</string>
		<key>startIndex</key>
		<string>6547</string>
		<key>endIndex</key>
		<string>6520</string>
		<key>app</key>
		<string>Nom Live</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id987728658</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple7/v4/d5/fe/e7/d5fee710-4594-5f32-a4ef-f877f900dcb1/mzl.xxnhhldc.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>114</string>
		<key>startIndex</key>
		<string>6519</string>
		<key>endIndex</key>
		<string>6517</string>
		<key>app</key>
		<string>Twitter</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id333903271</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple49/v4/5b/1b/67/5b1b676e-902f-21dd-a8ac-583b5f5d5612/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>548</string>
		<key>startIndex</key>
		<string>6516</string>
		<key>endIndex</key>
		<string>6507</string>
		<key>app</key>
		<string>Tech Today - CNET&apos;s Daily News</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1077008940</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple69/v4/d3/e4/9a/d3e49a53-45d5-0372-5610-fa0fc31c79f1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>547</string>
		<key>startIndex</key>
		<string>6506</string>
		<key>endIndex</key>
		<string>6459</string>
		<key>app</key>
		<string>REX - Favorite things from your favorite people.</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id965827767</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple69/v4/a6/03/bc/a603bc8a-b5c0-bb8e-b9f2-65bd0701c548/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>546</string>
		<key>startIndex</key>
		<string>6458</string>
		<key>endIndex</key>
		<string>6453</string>
		<key>app</key>
		<string>BuzzFeed Video</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1060266198</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple49/v4/37/72/26/37722652-6d85-f7aa-29d9-422d760ab583/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>544</string>
		<key>startIndex</key>
		<string>6441</string>
		<key>endIndex</key>
		<string>6417</string>
		<key>app</key>
		<string>sweetgreen</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id594329490</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/8e/0a/3e/8e0a3ee2-ce66-4eec-6e3c-bcc095047663/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>543</string>
		<key>startIndex</key>
		<string>6416</string>
		<key>endIndex</key>
		<string>6408</string>
		<key>app</key>
		<string>Quartz • News in a whole new way</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1076683233</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple49/v4/1a/1d/bd/1a1dbd29-0dc6-5046-68c7-737d4fd68132/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>542</string>
		<key>startIndex</key>
		<string>6407</string>
		<key>endIndex</key>
		<string>6397</string>
		<key>app</key>
		<string>Rolo Calendar - a different perspective on life</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1042011386</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple69/v4/a3/80/73/a380736c-009c-4e71-84d3-da815e502879/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>541</string>
		<key>startIndex</key>
		<string>6396</string>
		<key>endIndex</key>
		<string>6378</string>
		<key>app</key>
		<string>Refinery29 This AM: Top breaking news and celebrity stories for your daily skim</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id988472315</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple49/v4/4f/e4/1c/4fe41cc3-b727-424b-a587-5ca973ecce55/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>539</string>
		<key>startIndex</key>
		<string>6374</string>
		<key>endIndex</key>
		<string>6355</string>
		<key>app</key>
		<string>Tribe - Video messaging - Faster than texting, easier than live video and phone calls.</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1053998412</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/de/5f/73/de5f735b-78e1-70d1-3067-18d96fc8435f/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>537</string>
		<key>startIndex</key>
		<string>6333</string>
		<key>endIndex</key>
		<string>6317</string>
		<key>app</key>
		<string>Poncho: Wake Up Weather</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id931625520</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple6/v4/04/a4/21/04a421ab-0a7f-85b6-7b00-064dac2e6bef/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>535</string>
		<key>startIndex</key>
		<string>6270</string>
		<key>endIndex</key>
		<string>6265</string>
		<key>app</key>
		<string>Music Memos</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1036437162</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/87/06/08/870608ec-9147-3943-6558-8d539b362c34/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>530</string>
		<key>startIndex</key>
		<string>6205</string>
		<key>endIndex</key>
		<string>6179</string>
		<key>app</key>
		<string>Recipes and shopping list by Feast Kitchen</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id979525007</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple7/v4/6b/d6/1c/6bd61c19-ff6a-d367-2974-5b6e58f1694b/mzl.zsmhnqvh.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>427</string>
		<key>startIndex</key>
		<string>6178</string>
		<key>endIndex</key>
		<string>6167</string>
		<key>app</key>
		<string>HBO NOW</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id971265422</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/de/fb/a9/defba940-d3ed-b5f5-704f-a183752c5347/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>529</string>
		<key>startIndex</key>
		<string>6166</string>
		<key>endIndex</key>
		<string>6151</string>
		<key>app</key>
		<string>Rover: Discover Stories You Love</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id902092194</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple49/v4/42/f1/06/42f10624-ad79-c628-d1fa-abafbdff8b23/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>528</string>
		<key>startIndex</key>
		<string>5966</string>
		<key>endIndex</key>
		<string>5942</string>
		<key>app</key>
		<string>Jet - The Smartest Way to Shop &amp; Save Online, Find the Lowest Prices, Discounts &amp; Deals</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id950022424</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple7/v4/80/f5/ca/80f5ca55-35ee-23d7-11d3-b2ce8f393ac9/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>526</string>
		<key>startIndex</key>
		<string>5926</string>
		<key>endIndex</key>
		<string>5909</string>
		<key>app</key>
		<string>Rent the Runway</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id672853806</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple7/v4/46/71/b9/4671b942-be28-bac0-5545-cdebada035c1/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>525</string>
		<key>startIndex</key>
		<string>5892</string>
		<key>endIndex</key>
		<string>5883</string>
		<key>app</key>
		<string>Yahoo Video Guide - From searching to streaming in seconds!</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1062329611</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple69/v4/41/05/f3/4105f325-bda6-8da6-e445-380d638abf0d/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>523</string>
		<key>startIndex</key>
		<string>5867</string>
		<key>endIndex</key>
		<string>5845</string>
		<key>app</key>
		<string>BloomThat - The best way to send flowers</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id806330315</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/pf/us/r30/Purple5/v4/f2/27/54/f2275435-865e-b0fd-025f-22b4a0c585dd/mzl.xcujajhv.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>216</string>
		<key>startIndex</key>
		<string>5844</string>
		<key>endIndex</key>
		<string>5825</string>
		<key>app</key>
		<string>Gilt - Shop Designer Sales</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id331804452</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple5/v4/89/b1/05/89b1056f-ec97-f714-cbe1-4b1f229a4ccd/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>521</string>
		<key>startIndex</key>
		<string>5814</string>
		<key>endIndex</key>
		<string>5798</string>
		<key>app</key>
		<string>Banquet - Shop Top Wine Stores by Delectable</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1058119446</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple2/v4/49/c2/b2/49c2b21f-a4d6-accb-f7ae-c2468a0d48d7/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>520</string>
		<key>startIndex</key>
		<string>5797</string>
		<key>endIndex</key>
		<string>5782</string>
		<key>app</key>
		<string>Eats | Get only the best place to eat near you</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id1046751931</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple5/v4/2f/70/3a/2f703a24-28e1-e146-e1c8-9c720694a76c/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>518</string>
		<key>startIndex</key>
		<string>5757</string>
		<key>endIndex</key>
		<string>5750</string>
		<key>app</key>
		<string>Roger - Talk with your favorite people, walkie-talkie style</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id943662312</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple69/v4/9d/ba/7f/9dba7f2b-e93a-2914-1035-2ade49187584/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>517</string>
		<key>startIndex</key>
		<string>5749</string>
		<key>endIndex</key>
		<string>5728</string>
		<key>app</key>
		<string>Vevo - Watch Music Videos</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id385815082</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple69/v4/4b/30/6b/4b306bf2-fa63-5f6f-2a71-f0ecb0be6718/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>516</string>
		<key>startIndex</key>
		<string>5727</string>
		<key>endIndex</key>
		<string>5722</string>
		<key>app</key>
		<string>Forecast - Yet Another Weather App</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1050430292</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/96/8f/81/968f81e6-d3ac-e68d-47f6-61fd72d26941/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>514</string>
		<key>startIndex</key>
		<string>5654</string>
		<key>endIndex</key>
		<string>5631</string>
		<key>app</key>
		<string>Zomato - Food &amp; Restaurant Finder</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id434613896</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/8a/dd/09/8add090b-dbed-793b-8074-cceef4457506/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>511</string>
		<key>startIndex</key>
		<string>5571</string>
		<key>endIndex</key>
		<string>5558</string>
		<key>app</key>
		<string>Unmute</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1001229713</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/2d/e8/40/2de840a9-8aad-4cc3-8d6d-6c662797bf1a/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>510</string>
		<key>startIndex</key>
		<string>5557</string>
		<key>endIndex</key>
		<string>5544</string>
		<key>app</key>
		<string>Honest Beauty</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1049076250</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple3/v4/96/24/b3/9624b310-2a51-337d-c433-679ee41f63ff/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>509</string>
		<key>startIndex</key>
		<string>5541</string>
		<key>endIndex</key>
		<string>5529</string>
		<key>app</key>
		<string>ALDO - Footwear, Handbags and Accessories</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id960427837</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/5d/2e/dc/5d2edc80-5545-92d6-2493-75d8c5e02163/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>508</string>
		<key>startIndex</key>
		<string>5528</string>
		<key>endIndex</key>
		<string>5522</string>
		<key>app</key>
		<string>BuzzFeed</string>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id352969997</string>
	</dict>
	<dict>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>97</string>
		<key>startIndex</key>
		<string>6958</string>
		<key>endIndex</key>
		<string>6935</string>
		<key>app</key>
		<string>Quora</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id456034437</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple6/v4/61/7c/29/617c2946-9635-6f15-dbbc-48674d9a14b0/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>507</string>
		<key>startIndex</key>
		<string>5521</string>
		<key>endIndex</key>
		<string>5516</string>
		<key>app</key>
		<string>Great Big Story</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id1042442042</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple69/v4/8e/dc/f7/8edcf7e8-e797-6c00-f67e-dfa6a75164ce/source/512x512bb.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>505</string>
		<key>startIndex</key>
		<string>5500</string>
		<key>endIndex</key>
		<string>5483</string>
		<key>app</key>
		<string>Le Tote
Le Tote
</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id998774685</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple6/v4/c6/fa/67/c6fa67ee-a85d-c521-bf35-ad94c1026fb1/mzl.ttvobise.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>503</string>
		<key>startIndex</key>
		<string>5455</string>
		<key>endIndex</key>
		<string>5447</string>
		<key>app</key>
		<string>Wildcard - Know the Day in News and Entertainment</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id930047790</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple1/v4/9b/18/83/9b18833d-6dc8-0373-c59c-39a5e126507e/mzl.vvfoccfb.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>127</string>
		<key>startIndex</key>
		<string>5446</string>
		<key>endIndex</key>
		<string>5427</string>
		<key>app</key>
		<string>Etsy</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id477128284</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple3/v4/3b/ea/2c/3bea2c49-dae1-c625-f9f5-68d7ea64877b/mzl.sqvrspgi.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>500</string>
		<key>startIndex</key>
		<string>5384</string>
		<key>endIndex</key>
		<string>5371</string>
		<key>app</key>
		<string>Wander Co – Location-based Photo Journals</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id944064086</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple69/v4/8f/45/27/8f45277a-e6f4-3dd0-2181-aaf3cd387224/mzl.klsxkxir.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>495</string>
		<key>startIndex</key>
		<string>5341</string>
		<key>endIndex</key>
		<string>5331</string>
		<key>app</key>
		<string>Corner — Book flights. Plan vacations &amp; quick getaways</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id899109587</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple3/v4/cf/be/c0/cfbec0ac-1521-080e-1024-2dfbd9a0f06d/mzl.ktfomxaq.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>497</string>
		<key>startIndex</key>
		<string>5330</string>
		<key>endIndex</key>
		<string>5325</string>
		<key>app</key>
		<string>Postmates</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id512393983</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/thumb/Purple6/v4/79/5c/1e/795c1ea2-d9f5-bfea-a853-69343cba53e3/mzl.pshqgkcq.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>496</string>
		<key>startIndex</key>
		<string>5324</string>
		<key>endIndex</key>
		<string>5316</string>
		<key>app</key>
		<string>Curatum - A decisive guide to curated luxury</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id982611603</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is2.mzstatic.com/image/thumb/Purple3/v4/3b/a4/b4/3ba4b46e-bcab-a147-dcb5-8ffdd4205c72/mzl.qbxuautq.png/0x0ss-85.jpg</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>494</string>
		<key>startIndex</key>
		<string>5286</string>
		<key>endIndex</key>
		<string>5272</string>
		<key>app</key>
		<string>Paper - Notes, Photo Annotation, and Sketches by FiftyThree</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id506003812</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://is4.mzstatic.com/image/pf/us/r30/Purple7/v4/8d/84/9e/8d849e4e-5e1d-4763-a366-3157ebf8acf6/mzl.aesijjfr.png</string>
		<key>type</key>
		<string>about</string>
		<key>id</key>
		<string>459</string>
		<key>startIndex</key>
		<string>5241</string>
		<key>endIndex</key>
		<string>5229</string>
		<key>app</key>
		<string>Slack - Team Communication</string>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/id618783545</string>
	</dict>
</array>
</plist>
